<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCVBk7dQpGdChgOMosRUkbydKZnwtJvf0</string>
	<key>GCM_SENDER_ID</key>
	<string>455055990561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ADDISWARE.Spartagram</string>
	<key>PROJECT_ID</key>
	<string>spartagram1</string>
	<key>STORAGE_BUCKET</key>
	<string>spartagram1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455055990561:ios:fe81a5db70751f63b8e860</string>
</dict>
</plist>